<div class="bg-body-tertiary p-4">
  <div class="mb-4">
    <h3>
      <%= @comments.size %>
      <small class="text-body-secondary">Comments</small>
    </h3>
  </div>
  <% @article.comments.each do |c|%>
    <div class="bg-dark-subtle mb-2 p-4">
      <figure >
        <blockquote class="blockquote">
          <p><%= c.body %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title"><%= c.author %></cite>
        </figcaption>
      </figure>
    </div>
  <%end%>
</div>
