<div class="bg-body-tertiary p-4">
  <div class="mb-4">
    <h3>
      <%=  @article.comments.size %>
      <small class="text-body-secondary"> <%= (@article.comments.size == 1) ? 'Comment' : 'Comments' %>
      </small>
    </h3>
  </div>
  <% @article.comments.order("created_at desc").each do |c|%>
    <div class="bg-dark-subtle mb-2 p-4">
      <figure >
        <blockquote class="blockquote">
          <p><%= c.body %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title"><%= c.author %></cite>
        </figcaption>
      </figure>
    </div>
  <%end%>
</div>
