<div class="col-md-12 mt-4">
  <h3>Add Comment:</h3>
  <%= form_for([@article, Comment.new]) do |f| %>
    <div class="col-md-12 mt-4">
      <div class="col-md-12 mb-3">
        <%= f.hidden_field :author, class: "form-control", value: current_user.username if user_signed_in? %>
      </div>
      <div class="mb-3">
        <%= f.text_area :body, class: "form-control", rows: 5, maxlength: "1000" %>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= f.submit class: "btn btn-primary mb-4"%>
      </div>
    <% end %>
  </div>
</div>
