<% @articles.each do |a| %>
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4 fst-italic"><%= a.title %></h1>
        <p class="lead my-3"><%= truncate(strip_tags(a.text.to_s), length: 125) %></p>
        <p class="lead mb-0"><%= link_to 'Continue reading...', article_path(a), class: "text-body-emphasis fw-bold" %></p>
      </div>
      <div class="col-lg-6">
        <%= image_tag a.thumbnail_index, class: "rounded float-end d-none d-sm-block" %>
      </div>
    </div>
  </div>
<% end %>
