<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row mt-4">
    <div class="col-12">
      <figure>
        <blockquote class="blockquote">
          <p>Feel free to drop me a line or two, and remember, the funnier the better – my inbox thrives on side-splitting hilarity!</p>
        </blockquote>
        <figcaption class="blockquote-footer mt-2">
          Cheers, <cite title="Source Title">Vladimir Egorov</cite>
        </figcaption>
      </figure>
    </div>
    <div class="row mt-4">
      <%= render "form" %>
    </div>
  </div>
